<!-- Modal -->

<div
  class="modal fade "
  id="addTaskModalOriginal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Add :
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  id="addTask" enctype="multipart/form-data">
          {% csrf_token %}


          <label for="taskSubject">Select Subject:</label>
          <select name="taskSubject" id="taskSubject"
                  class="form-select form-select-mb"
                  aria-label=".form-select-lg example" required>
                  <option value="" selected disabled>Select</option>
          </select>


          <label for="gpType">Select:</label>
          <select name="gpType" id="gpType"
                  class="form-select form-select-mb"
                  aria-label=".form-select-lg example" required>
                  <option value="" selected disabled>Select GradePeriod</option>
                  <option value="1" >Prelims</option>
                  <option value="2" >Midterm</option>
                  <option value="3" >Finals</option>
          </select>


          <label for="activity">Select Activity:</label>
          <select name="activity" id="activity"
                  class="form-select form-select-mb"
                  aria-label=".form-select-lg example" required>
                  <option value="" selected disabled>Select</option>
          </select>


          <label for="taskTitle" >Title:</label>
          <input
            type="text"
            class="form-control"
            id="taskTitle"
            name="taskTitle"
            placeholder="Title"
            required
            readonly="readonly"
          />

          <input type="number" id="cptypeid" name="cptypeid" hidden>


          <label for="taskTotal">Total Score:</label>
          <input
            type="number"
            class="form-control"
            id="taskTotal"
            name="taskTotal"
            placeholder="Total"
            required
            readonly="readonly"
          />


          <label for="taskScore">Your  Score:</label>
          <input
            type="number"
            class="form-control"
            id="taskScore"
            name="taskScore"
            placeholder="Your Score"
            required
          />


          <div id="errorHolder" style="color: red;"></div>
          <label for="taskDate">Date:</label>
          <input
            type="date"
            class="form-control"
            id="taskDate"
            name="taskDate"
            placeholder="Date"
            required
          />


          <label for="taskAttachments">Attachments:</label>
          <input
            type="file"
            class="form-control"
            id="taskAttachments"
            name="taskAttachments"
            placeholder="Image"
          />



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-hoverred" data-dismiss="modal">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-hovergreen"
          id = "addtaskButtonsave"
          value="SUBMIT">
          Submit
        </button>
      </form>

      </div>
    </div>
  </div>
</div>


<script>
  $.ajax({
    url: "{% url 'getUserSubject' studentprof.studentNumber %}",
    method: "GET",
    success: (data) =>{
      for (var i = 0; i <= data.length - 1; i++) {
              var user_position = new Option(data[i].subjectName, data[i].id);
              $('#taskSubject').append(user_position);
            }
    }
  })


  $(document).on('change', '#taskSubject',(e)=>{
    var subjectID = e.currentTarget.value;
    $.ajax({
      url:`/professor/editsubject/${subjectID}`,
      success: (data) => {

      $(document).on('change','#gpType', function(e) {
            $('#taskTitle').val("")
            $('#taskTotal').val("")
            $('#cptypeid').val("")
            var selectedOptionText = $(this).find('option:selected').text();
            console.log(selectedOptionText);
            console.log(data[selectedOptionText])
            $('#activity')
            .find('option')
            .remove()
            .end()
            .append('<option value="" disabled selected>Select</option>')
            var optionExam = new Option("Exam", data[selectedOptionText].totalItem);
            if (data[selectedOptionText].totalItem === 0) {
              optionExam.disabled = true;
            }
            optionExam.setAttribute("data-custom-attribute", "attribute-value");
            $('#activity').append(optionExam);

            var optionProject = new Option("Project", data[selectedOptionText].totalProject);
            if (data[selectedOptionText].totalProject === 0) {
              optionProject.disabled = true;
            }
            $('#activity').append(optionProject);


            console.log(data[selectedOptionText].totalProject)

            for (var i = 0; i < data[selectedOptionText].cpTask.length; i++) {
              var title = data[selectedOptionText].cpTask[i].title;
              var type = data[selectedOptionText].cpTask[i].cptype;
              var noItems = data[selectedOptionText].cpTask[i].noItems;
              var optionText = title + `(${type})`;
              var optionValue = data[selectedOptionText].cpTask[i].noItems;
              var option = new Option(optionText, optionValue);
              $('#activity').append(option);
            }
          })
        }
      })
    })
    $(document).on('change','select[name="activity"]', function(e) {
      var selectedOptionText = $(this).find('option:selected').text();
      var selectedOptionVal = $(this).find('option:selected').val();
      $('#taskTitle').val(selectedOptionText)
      $('#taskTotal').val(selectedOptionVal)

      if(selectedOptionText == 'Exam'){
          $('#cptypeid').val(5)
      }
      else if (selectedOptionText == 'Project')
      {
          $('#cptypeid').val(6)
      }
      else{
          $('#cptypeid').val(9)
      }
    })



   // $(document).ready(function () {
          $("#addTask").submit(function (event) {
            event.preventDefault(); // Prevent form submission

            $('#addtaskButtonsave').prop('disabled', true);
            $('#addtaskButtonsave').html('<i class="fa fa-spinner fa-spin"></i> Loading');
            var formData = new FormData(this);
        //   addtaskButtonsave
            var total = Number($("#taskTotal").val())
            var score = Number($("#taskScore").val())
            if (total<score){
              $("#errorHolder").append('<p>Invalid Total Score</p>');
              $('#addtaskButtonsave').removeAttr('disabled');
              $('#addtaskButtonsave').html('Submit');
              $('#spinner').remove();
            }
            else
            {
                 $('#addtaskButtonsave').removeAttr('disabled');
              $('#addtaskButtonsave').html('Submit');
              $('#spinner').remove();
                $('#errorHolder').empty();
                $.ajax({
                url: "{% url 'studentProfile' studentprof.studentNumber %}", // Replace with your actual submit URL
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                  // Handle success response
                  if(response.message){
                    alert(response.message)
                  }

                  $("#addTask")[0].reset();
                  var dataTable = $("#tasksTable").DataTable();
                  dataTable.ajax.reload(null, false);
                  $("#addUserTaskButton").click();
                  var subs = response.value
                  subs.forEach((sub) =>{
                    // renderGradeBreakdown(sub.id,response.studentid,sub.subjectCode)
                    barpersub(sub.id, response.studentid);
                    $.ajax({
                    url:`/totalScore/${sub.id}/${response.studentid}/`
                  })

                  })


                  // $('#dataforbargrapht').load(location.href + ' #dataforbargraph');
                  // createBarGraph(response.data);
                  // barGraphProfile(response.dounut);
                  // for (var key in response.dounut) {
                  //   createChart(response.dounut[key], key);
                  // }

                },
              });
            }

          });

</script>