<!-- Modal -->

<div
  class="modal fade "
  id="addTaskModalOriginal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Add :
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  id="addTask" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="taskTitle">Title:</label>
          <input
            type="text"
            class="form-control"
            id="taskTitle"
            name="taskTitle"
            placeholder="Title"
            required
          />
          <label for="taskScore">Your Total Score:</label>
          <input
            type="number"
            class="form-control"
            id="taskScore"
            name="taskScore"
            placeholder="Your Score"
            required
          />
          

          <label for="taskTotal">Total Score:</label>
          <input
            type="number"
            class="form-control"
            id="taskTotal"
            name="taskTotal"
            placeholder="Total"
            required
          />
          <label for="taskDate">Date:</label>
          <input
            type="date"
            class="form-control"
            id="taskDate"
            name="taskDate"
            placeholder="Date"
            required
          />

          <label for="taskSubject">Select Subject:</label>
          <select name="taskSubject" id="taskSubject" 
                  class="form-select form-select-mb" 
                  aria-label=".form-select-lg example" required>
                  <option value="" selected disabled>Select</option>
          </select>

          <label for="taskType">Select Task Types:</label>
          <select name="taskType" id="taskType" 
                  class="form-select form-select-mb" 
                  aria-label=".form-select-lg example" required>
                  <option value="" selected disabled>Select</option>
          </select>

          <label for="taskAttachments">Attachments:</label>
          <input
            type="file"
            class="form-control"
            id="taskAttachments"
            name="taskAttachments"
            placeholder="Image"
          />

         

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-hoverred" data-dismiss="modal">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-hovergreen"
          value="SUBMIT">
          Submit
        </button>
      </form>

      </div>
    </div>
  </div>
</div>


<script>
  $.ajax({
    url: "{% url 'getUserSubject' %}",
    method: "GET",
    success: (data) =>{
      for (var i = 0; i <= data.length - 1; i++) {
              var user_position = new Option(data[i].subjectName, data[i].id);
              $('#taskSubject').append(user_position);
            }
    }
  })


  $(document).on('change', '#taskSubject',(e)=>{
    var subjectID = e.currentTarget.value;
    $.ajax({
      url:`/getrubrick/${subjectID}`,
      success: (data) => {
      $('#taskType')
      .find('option')
      .remove()
      .end()
      .append('<option value="" disabled selected>Select</option>')
          for (var i = 0; i <= data.length - 1; i++) {
              var user_position = new Option(data[i].taskName, data[i].taskID);
              $('#taskType').append(user_position);
            }
      }
    })
  })


   // $(document).ready(function () {
          $("#addTask").submit(function (event) {
            event.preventDefault(); // Prevent form submission

            // Get form data
            var formData = new FormData(this);

            $.ajax({
              url: "{% url 'studentProfile' studentprof.studentNumber %}", // Replace with your actual submit URL
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function (response) {
                // Handle success response
                $("#addTask")[0].reset();
                console.log(response.data);
                var dataTable = $("#tasksTable").DataTable();
                dataTable.ajax.reload(null, false); 
                $("#addUserTaskButton").click();
                // $('#dataforbargrapht').load(location.href + ' #dataforbargraph');
                createBarGraph(response.data);
                for (var key in response.dounut) {
                  createChart(response.dounut[key], key);
                }
                barGraphProfile(response.dounut);

              },
            });
          });

</script> 