<!-- Button trigger modal -->


<!-- Modal -->
<div
  class="modal fade"
  id="actionModify"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Modify Me: 
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addTaskEdit" enctype="multipart/form-data">

          <input type="number" id="taskIdEdit" name="taskIdEdit" hidden>

          <label for="taskTitleEdit">Title:</label>
          <input
            type="text"
            class="form-control"
            id="taskTitleEdit"
            name="taskTitleEdit"
            placeholder="Title"
            required
            readonly
          />

          <label for="taskScoreEdit">Your Total Score:</label>
          <input
            type="number"
            class="form-control"
            id="taskScoreEdit"
            name="taskScoreEdit"
            placeholder="Your Score"
            required
          />

          <label for="taskTotalEdit">Total Score:</label>
          <input
            type="number"
            class="form-control"
            id="taskTotalEdit"
            name="taskTotalEdit"
            placeholder="Total"
            required
            readonly
          />

          <label for="taskDateEdit">Date:</label>
          <input
            type="date"
            class="form-control"
            id="taskDateEdit"
            name="taskDateEdit"
            placeholder="Date"
            required
          />



          <label for="taskAttachmentsEdit">Attachments:</label>
          <input
            type="file"
            class="form-control"
            id="taskAttachmentsEdit"
            name="taskAttachmentsEdit"
            placeholder="Image"
          />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          value="SUBMIT">
          SUBMIT
        </button>
      </form>

      </div>
    </div>
  </div>
</div>

<script>


$(document).on('click',".EditTask", (event) => {

  $("#taskTitleEdit").val($(event.currentTarget).attr('title'));
  $("#taskIdEdit").val($(event.currentTarget).attr('id'));
  $("#taskScoreEdit").val($(event.currentTarget).attr('score'));
  $("#taskTotalEdit").val($(event.currentTarget).attr('overall'));
  $("#taskDateEdit").val($(event.currentTarget).attr('date'));

  var firtValSub =  $(event.currentTarget).attr('subject');
  
  // $.ajax({
  //     url:`/getrubrick/${firtValSub}`,
  //     success: (data) => {
  //     $('#taskTypeEdit')
  //     .find('option')
  //     .remove()
  //     .end()
  //     .append('<option value="" disabled selected>Select</option>')
  //         for (var i = 0; i <= data.length - 1; i++) {
  //             var user_position = new Option(data[i].taskName, Number(data[i].taskID));
  //             $('#taskTypeEdit').append(user_position);
  //           }
  //       $("#taskTypeEdit").val($(event.currentTarget).attr('subType'));

  //     }
  //   })


})

// $.ajax({
//     url: "{% url 'getUserSubject' studentprof.studentNumber %}",
//     method: "GET",
//     success: (data) =>{
//       for (var i = 0; i <= data.length - 1; i++) {
//               var user_position = new Option(data[i].subjectName, data[i].id);
//               $('#taskSubjectEdit').append(user_position);
//             }
//     }
//   })


  // $(document).on('change', '#taskSubjectEdit',(e)=>{
  //   var subjectID = e.currentTarget.value;
  //   $.ajax({
  //     url:`/getrubrick/${subjectID}`,
  //     success: (data) => {
  //     $('#taskTypeEdit')
  //     .find('option')
  //     .remove()
  //     .end()
  //     .append('<option value="" disabled selected>Select</option>')
  //         for (var i = 0; i <= data.length - 1; i++) {
  //             var user_position = new Option(data[i].taskName, data[i].taskID);
  //             $('#taskTypeEdit').append(user_position);
  //           }
  //     }
  //   })
  // })

  $("#addTaskEdit").submit(function (event) {
        event.preventDefault(); // Prevent form submission

        // Get form data
        var formData = new FormData(this);
        var formValues = {};
            for (var pair of formData.entries()) {
              var fieldName = pair[0];
              var fieldValue = pair[1];
              formValues[fieldName] = fieldValue;
            }

            // Display the form values
            console.log(formValues);
            let score = Number($('#taskScoreEdit').val())
            let total = Number($('#taskTotalEdit').val())
            if(score>total){
              alert('Invalid Score');
            }
            else{
              $.ajax({
                url: "{% url 'studentProfile' studentprof.studentNumber %}", // Replace with your actual submit URL
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                  // Handle success response
                  $("#addTaskEdit")[0].reset();
                  console.log(response);
                  var dataTable = $("#tasksTable").DataTable();
                  dataTable.ajax.reload(null, false); 
                  $(".EditTask").click();

                  // var subs = response.value
                  // subs.forEach((sub) =>{
                  //   renderGradeBreakdown(sub.id,response.studentid,sub.subjectCode)
                  // })
                  // $('#listOfMySubjects').load(location.href)
                  // createBarGraph(response.graphdata);
                  // for (var key in response.dounut) {
                  //   createChart(response.dounut[key], key);
                  // }
                  // barGraphProfile(response.dounut);

                  // Additional actions after form submission
                },
              });
            }
      });


 
</script>