<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-xl"
    style="width: 800px"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Subject</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addSubjectForm">
          <label for="courseCode">Course Code:</label>
          <input
            type="text"
            class="form-control"
            id="courseCode"
            name="courseCode"
            placeholder="course Code"
            required
          />
          <label for="courseName">Course Description:</label>
          <input
            type="text"
            class="form-control"
            id="courseName"
            name="courseName"
            placeholder="Course Name"
            required
          />

          <hr />
          {% for i in gpTypes %}
          <div class="row">
            <h3>{{i.gptypeName}}</h3>
            <div class="input-group mb-2 mr-sm-2 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">{{i.gptypeName}}</div>
              </div>
              <input
                type="number"
                class="form-control"
                id="{{i.gptypeName}}percentage"
                name="{{i.gptypeName}}percentage"
                placeholder="Percentage"
              />
            </div>
            <div class="col-md-3">
              <label for="pCP">Class Performance:</label>
              <input
                type="number"
                class="form-control"
                value=""
                id="{{i.gptypeName}}ClassPerformance"
                name="{{i.gptypeName}}ClassPerformance"
                placeholder="%"
                required
              />
            </div>
            <div class="col-md-3">
              <label for="pAttendance">Attendance:</label>
              <input
                type="number"
                class="form-control"
                value=""
                id="{{i.gptypeName}}Attendance"
                name="{{i.gptypeName}}Attendance"
                placeholder="%"
              />
            </div>
            <div class="col-md-3">
              <label for="pExam">Exam:</label>
              <input
                type="number"
                class="form-control"
                value=""
                id="{{i.gptypeName}}Exam"
                name="{{i.gptypeName}}Exam"
                placeholder="%"
                required
              />
            </div>
            <div class="col-md-3">
              <label for="pProject">Project:</label>
              <input
                type="number"
                class="form-control"
                value=""
                id="{{i.gptypeName}}Project"
                name="{{i.gptypeName}}Project"
                placeholder="%"
              />
            </div>

            <div class="input-group mb-2 mr-sm-2 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Exam</div>
              </div>
              <input
                type="number"
                class="form-control"
                id="{{i.gptypeName}}TotalExam"
                name="{{i.gptypeName}}TotalExam"
                placeholder="Total Score"
              />
            </div>
            <div class="input-group mb-2 mr-sm-2 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Project</div>
              </div>
              <input
                type="number"
                class="form-control"
                id="{{i.gptypeName}}TotalProject"
                name="{{i.gptypeName}}TotalProject"
                placeholder="Total Score"
              />
            </div>

            <input
              type="number"
              name="{{i.gptypeName}}Counter"
              id="{{i.gptypeName}}Counter"
              hidden
            />

            <div class="input-group" style="margin-top: 3%">
              <select
                class="custom-select cpTypes"
                id="{{i.gptypeName}}cyTypesSelect"
              ></select>
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary add-cp-button"
                  value="{{i.gptypeName}}"
                  type="button"
                >
                  +
                </button>
              </div>
            </div>

            <div class="row" id="{{i.gptypeName}}CP"></div>
          </div>
          <hr />

          {% endfor %}

          <div class="modal-footer mt-4">
            <button
              type="button"
              class="btn btn-secondary btn-hoverred"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary btn-hovergreen">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    $("#addSubjectForm").submit(function (event) {
      event.preventDefault();
      var formData = new FormData(this);
      var formValues = {};
      for (var pair of formData.entries()) {
        var fieldName = pair[0];
        var fieldValue = pair[1];
        formValues[fieldName] = fieldValue;
      }

      // Display the form values
      console.log(formValues);
      $.ajax({
        url: "{% url 'addsubject' %}",
        data: formData,
        method: "POST",
        processData: false,
        contentType: false,
        success: (response) => {
          if(response.error){
            alert(response.error);
          }
          $("#addSubjectForm")[0].reset();
          $('#addProfSubjectButton').click();
          var dataTable = $("#subjectTable").DataTable();
          dataTable.ajax.reload(null, false); 
        },
      });
    });
   
    $.ajax({
      url: `/getcptypes`,
      success: (data) => {
        $(".cpTypes")
          .find("option")
          .remove()
          .end()
          .append(
            '<option value="" disabled selected>Class Performance.</option>'
          );
        for (var i = 0; i <= data.length - 1; i++) {
          var cpTypes = new Option(data[i].type, data[i].id);
          $(".cpTypes").append(cpTypes);
        }
      },
    });

    function handleCyTypesSelectChange(event) {
      var addButton = $(event.currentTarget)
        .closest(".input-group")
        .find(".add-cp-button");
      var selectedText = $(this).find(":selected").text();
      addButton.attr("id", $(event.currentTarget).val());
      addButton.attr("name", selectedText);
    }

    $(document).on(
      "change",
      "#PrelimscyTypesSelect",
      handleCyTypesSelectChange
    );
    $(document).on(
      "change",
      "#MidtermcyTypesSelect",
      handleCyTypesSelectChange
    );
    $(document).on("change", "#FinalscyTypesSelect", handleCyTypesSelectChange);

    $(document).ready(function () {
      var counter = {}; // Object to store counters

      $(document).on("click", ".add-cp-button", function (e) {
        var cptypeID = $(e.currentTarget).attr("id");
        var name = $(e.currentTarget).attr("name");
        var value = $(e.currentTarget).val();

        var container = $(e.currentTarget).closest(".row").find("[id$='CP']");
        var identifier = container.attr("id"); // Get the identifier from the container's ID
        counter[identifier] = counter[identifier] || 1; // Initialize the counter for this identifier if it doesn't exist
        var currentCounter = counter[identifier]++; // Increment the counter and store the current value
        $(`#${value}Counter`).val(currentCounter);
        container.append(`<div class="row">
      <div class="col-sm-6">
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <div class="input-group-text">${name}</div>
          </div>
          <input type="text" class="form-control" id="${value}TitleCP${currentCounter}" name="${value}TitleCP${currentCounter}" placeholder="Title" required/>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <div class="input-group-text">No. of Items</div>
          </div>
          <input type="number" class="form-control" id="${value}TotalItemCP${currentCounter}" name="${value}TotalItemCP${currentCounter}" placeholder="Total" required/>
        </div>
      </div>
      <input type="text" id="${value}ID${currentCounter}" name="${value}ID${currentCounter}" value="${cptypeID}" hidden />
      <div class="col-sm-1">
        <div class="input-group mb-3 mt-4">
          <button class="btn btn-outline-secondary remove-row" type="button">
            x
          </button>
        </div>
      </div>
    </div>`);
      });
    });

    $(document).on("click", ".remove-row", function () {
      $(this).closest(".row").remove();
    });
  });
</script>
