<!-- Modal -->
<div
  class="modal fade"
  id="editSubjetModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Subject</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editSubjectForm">
          <label for="subjectCode">Subject Code:</label>
          <input
            type="text"
            class="form-control"
            id="subjectCodeEdit"
            name="subjectCodeEdit"
            placeholder="Subject Code"
            required
          />
          <label for="subjectName">Subject Name:</label>
          <input
            type="text"
            class="form-control"
            id="subjectNameEdit"
            name="subjectNameEdit"
            placeholder="Subject Name"
            required
          />

          <label for="units">Units:</label>
          <input
            type="number"
            class="form-control"
            id="unitsEdit"
            name="unitsEdit"
            placeholder="No. of Units"
            required
          />

          <input type="number" id="editID" name="editID" hidden />
          <h3>Rubricks</h3>

          <div class="row">
            {% for type in tasksT %}
            <div class="col-md-6">
              <label for="{{type|lower}}">{{type}}:</label>
              <input
                type="number"
                class="form-control"
                value=""
                name="{{type|lower}}Edit"
                id="{{type|lower}}Edit"
                placeholder="{{type}}"
              />
            </div>
            {% endfor %}
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-hoverred"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary btn-hovergreen">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{request.user.id|json_script:"facultyID"}}

<script>
  $(document).ready(() => {
    $(document).on("click", ".editSub", function (event) {
      $("#subjectCodeEdit").val($(event.currentTarget).attr("subjectcode"));
      $("#subjectNameEdit").val($(event.currentTarget).attr("subjectname"));
      $("#unitsEdit").val($(event.currentTarget).attr("units"));
      $("#editID").val($(event.currentTarget).attr("id"));
      var subID = $(event.currentTarget).attr("id");
      $.ajax({
        url: `getSub/${subID}`,
        success: (data) => {
          data.forEach((d) => {
            $(`#${d.taskName}`).val(d.percentage);
          });
        },
      });
    });

    // get the values after submit
    const isvalid = () => {
      let totalRubicks = [
        defaulval("#quiz"),
        defaulval("#performancetask"),
        defaulval("#prelims"),
        defaulval("#midterm"),
        defaulval("#finals"),
        defaulval("#project"),
      ];

      // get the total
      let sum = totalRubicks.reduce(function (a, b) {
        return Number(a) + Number(b);
      });

      // apply the condition so it wont submit
      if (sum > 100) {
        alert("wrong");
        return false;
      } else {
        return true;
      }
    };

    // convert empty inputs to zero( 0 )
    const defaulval = (str) => {
      return $(str).val() == "" ? 0 : $(str).val();
    };

    $("#editSubjectForm").submit(function (event) {
      event.preventDefault(); // Prevent form submission
      $("#facultyNameEdit").val("{{request.user.id}}");

      // Get form data
      var formData = new FormData(this);

      $.ajax({
        url: "{% url 'addsubject' %}", // Replace with your actual submit URL
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          // Handle success response
          $(".editSub").click();
          var dataTable = $("#subjectTable").DataTable();
          dataTable.ajax.reload(null, false);

          // Additional actions after form submission
        },
      });
    });
  });
</script>
