<!-- Modal -->
<div
  class="modal fade"
  id="editSubjetModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-xl"
    style="width: 800px"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Subject</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editSubjectForm">
          <label for="courseCodeEdit">Course Code:</label>
          <input
            type="text"
            class="form-control"
            id="courseCodeEdit"
            name="courseCodeEdit"
            placeholder="course Code"
            required
          />
          <label for="courseNameEdit">Course Name:</label>
          <input
            type="text"
            class="form-control"
            id="courseNameEdit"
            name="courseNameEdit"
            placeholder="Course Name"
            required
          />
          <input type="number" id="subEditID" hidden>

          <hr />
          {% for i in gpTypes %}
          <div class="row">
            <h3>{{i.gptypeName}}</h3>
            <div class="col-md-3">
              <label for="pCP">Class Performance:</label>
              <input
                type="number"
                class="form-control"
                value=""
                id="{{i.gptypeName}}ClassPerformanceEdit"
                name="{{i.gptypeName}}ClassPerformanceEdit"
                placeholder="%"
                required
              />
            </div>
            <div class="col-md-3">
              <label for="pAttendance">Attendance:</label>
              <input
                type="number"
                class="form-control"
                value=""
                id="{{i.gptypeName}}AttendanceEdit"
                name="{{i.gptypeName}}AttendanceEdit"
                placeholder="%"
              />
            </div>
            <div class="col-md-3">
              <label for="pExam">Exam:</label>
              <input
                type="number"
                class="form-control"
                value=""
                id="{{i.gptypeName}}ExamEdit"
                name="{{i.gptypeName}}ExamEdit"
                placeholder="%"
                required
              />
            </div>
            <div class="col-md-3">
              <label for="pProject">Project:</label>
              <input
                type="number"
                class="form-control"
                value=""
                id="{{i.gptypeName}}ProjectEdit"
                name="{{i.gptypeName}}ProjectEdit"
                placeholder="%"
              />
            </div>

            <div class="input-group mb-2 mr-sm-2 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Exam</div>
              </div>
              <input
                type="number"
                class="form-control"
                id="{{i.gptypeName}}TotalExamEdit"
                name="{{i.gptypeName}}TotalExamEdit"
                placeholder="Total Score"
              />
            </div>

            <div class="input-group mb-2 mr-sm-2 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Project</div>
              </div>
              <input
                type="number"
                class="form-control"
                id="{{i.gptypeName}}TotalProjectEdit"
                name="{{i.gptypeName}}TotalProjectEdit"
                placeholder="Total Score"
              />
            </div>

            <input
              type="number"
              name="{{i.gptypeName}}CounterEdit"
              id="{{i.gptypeName}}CounterEdit"
              hidden
            />

            <div class="input-group" style="margin-top: 3%">
              <select
                class="custom-select cpTypes"
                id="{{i.gptypeName}}cyTypesSelectEdit"
              ></select>
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary add-cp-button"
                  value="{{i.gptypeName}}"
                  type="button"
                >
                  +
                </button>
              </div>
            </div>

            <div class="row" id="{{i.gptypeName}}CPEdit"></div>
          </div>
          <hr />

          {% endfor %}

          <div class="modal-footer mt-4">
            <button
              type="button"
              class="btn btn-secondary btn-hoverred"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary btn-hovergreen">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    $("#editSubjectForm").submit(function (event) {
      event.preventDefault();
      var formData = new FormData(this);
      let id= $('#subEditID').val()
      $.ajax({
        url: `submiteditsubject/${id}`,
        data: formData,
        method: "POST",
        processData: false,
        contentType: false,
        success: (response) => {
          $('.editSub').click();
          $("#editSubjectForm")[0].reset();
          var dataTable = $("#subjectTable").DataTable();
          dataTable.ajax.reload(null, false); 
        },
      });
    });

    $.ajax({
      url: `/getcptypes`,
      success: (data) => {
        $(".cpTypes")
          .find("option")
          .remove()
          .end()
          .append(
            '<option value="" disabled selected>Class Performance.</option>'
          );
        for (var i = 0; i <= data.length - 1; i++) {
          var cpTypes = new Option(data[i].type, data[i].id);
          $(".cpTypes").append(cpTypes);
        }
      },
    });

    function handleCyTypesSelectChange(event) {
      var addButton = $(event.currentTarget)
        .closest(".input-group")
        .find(".add-cp-button");
      var selectedText = $(this).find(":selected").text();
      addButton.attr("id", $(event.currentTarget).val());
      addButton.attr("name", selectedText);
    }

    $(document).on(
      "change",
      "#PrelimscyTypesSelectEdit",
      handleCyTypesSelectChange
    );
    $(document).on(
      "change",
      "#MidtermcyTypesSelectEdit",
      handleCyTypesSelectChange
    );
    $(document).on(
      "change",
      "#FinalscyTypesSelectEdit",
      handleCyTypesSelectChange
    );

    $(document).ready(function () {
      var counter = {}; // Object to store counters

      $(document).on("click", ".add-cp-button", function (e) {
        var cptypeID = $(e.currentTarget).attr("id");
        var name = $(e.currentTarget).attr("name");
        var value = $(e.currentTarget).val();

        var container = $(e.currentTarget)
          .closest(".row")
          .find("[id$='CPEdit']");
        var identifier = container.attr("id"); // Get the identifier from the container's ID
        counter[identifier] = counter[identifier] || 1; // Initialize the counter for this identifier if it doesn't exist
        var currentCounter = counter[identifier]++; // Increment the counter and store the current value
        let newEditCounter = parseInt($(`#${value}CounterEdit`).val());
        newEditCounter++; // Increment the counter

        $(`#${value}CounterEdit`).val(newEditCounter);
        container.append(` <div class="row">
      <div class="col-sm-6">
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <div class="input-group-text">${name}</div>
          </div>
          <input type="text" class="form-control" id="${value}TitleCP${currentCounter}Edit" name="${value}TitleCP${currentCounter}Edit" placeholder="Title" required/>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <div class="input-group-text">No. of Items</div>
          </div>
          <input type="number" class="form-control" id="${value}TotalItemCP${currentCounter}Edit" name="${value}TotalItemCP${currentCounter}Edit" placeholder="Total" required/>
        </div>
      </div>
      <input type="text" id="${value}ID${currentCounter}Edit" name="${value}ID${currentCounter}Edit" value="${cptypeID}" hidden />
      <div class="col-sm-1">
        <div class="input-group mb-3 mt-4">
          <button class="btn btn-outline-secondary remove-row" type="button">
            x
          </button>
        </div>
      </div>
    </div>`);
      });
    });

    $(document).on("click", ".remove-row", function () {
      $(this).closest(".row").remove();
    });

    const gtypes = ["Prelims", "Midterm", "Finals"];
    $(document).on("click", ".editSub", function (event) {
      var sub_id = $(event.currentTarget).attr("id");
      $('#subEditID').val(sub_id)

      $.ajax({
        url: `editsubject/${sub_id}`,
        success: (response) => {
          $("#courseCodeEdit").val(response.courseCode);
          $("#courseNameEdit").val(response.courseName);
          $('#PrelimsCPEdit').empty();
          $('#MidtermCPEdit').empty();
          $('#FinalsCPEdit').empty();

          gtypes.forEach((d) => {
            $(`#${d}ClassPerformanceEdit`).val(response[d].ClassPerformance);
            $(`#${d}AttendanceEdit`).val(response[d].Attendance);
            $(`#${d}ExamEdit`).val(response[d].Exam);
            $(`#${d}ProjectEdit`).val(response[d].Project);
            $(`#${d}TotalExamEdit`).val(response[d].totalItem);
            $(`#${d}TotalProjectEdit`).val(response[d].totalProject);
            let increment = 1;
            $(`#${d}CounterEdit`).val(response[d].cpTask.length);

            response[d].cpTask.forEach((data) => {
              $(`#${d}CPEdit`).append(` <div class="row">
                <div class="col-sm-6">
                  <div class="input-group mb-3 mt-4">
                    <div class="input-group-prepend">
                      <div class="input-group-text">${data.cptype}</div>
                    </div>
                    <input type="text" class="form-control" id="${d}TitleCP${increment}Edit" name="${d}TitleCP${increment}Edit" value = ${data.title} required/>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="input-group mb-3 mt-4">
                    <div class="input-group-prepend">
                      <div class="input-group-text">No. of Items</div>
                    </div>
                    <input type="number" class="form-control" id="${d}TotalItemCP${increment}Edit" name="${d}TotalItemCP${increment}Edit" value=${data.noItems} required/>
                  </div>
                </div>
                <input type="text" id="${d}ID${increment}Edit" name="${d}ID${increment}Edit" value="${data.cptypeID}" hidden />
                <div class="col-sm-1">
                  <div class="input-group mb-3 mt-4">
                    <button class="btn btn-outline-secondary remove-row" type="button">
                      x
                    </button>
                  </div>
                </div>
              </div>`);
              increment++;
            });
          });
        },
      });
    });
  });
</script>
