{% load account socialaccount %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'eportfolio/style.css' %}" />
  </head>
  <body>
    <div class="center">
      <h1>Log In</h1>
      <form action="#" method="POST">
        <div class="txt_field">
          <input type="text" name="username" required />
          <label>Username</label>
        </div>

        <div class="txt_field">
          <input type="password" name="password" required />
          <label>Password</label>
        </div>

        <div>
          <input type="submit" value="Log in" />
        </div>
      </form>
    </div>
  </body>
</html>
